.box {
  background-color: $box-bkg;
  border: $box-border;
  box-shadow: $box-shadow;
  padding: 15px 20px 20px;
}

.box-title {
  background-color: $box-title-bkg;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: $box-shadow;
  color: $box-title-txt;
  font-size: $title3-size;
  padding: 15px;
  text-align: center;
}

.insert-box {
  background-color: $box-bkg;
  border: $insert-border;
  height: 210px;
  padding: 10px 30px 15px;
  text-align: left;

  .box-hyphen {
    margin: 10px 0 0 -45px;
  }
}

.box-hyphen {
  border-top: $border-title;
  display: inline-block;
  vertical-align: top;
  width: $small-hyphen-width;
}

.theme-box {
  background-color: $white;
  border-left: $border-theme;
  margin: -20px 0 0;
}

.illustration-box {
  height: 500px;

  .image-box {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: absolute;
    width: calc(100% - 2px);
    z-index: 0;
  }

  .color-box {
    background-color: $opacity-color;
    display: none;
    height: 500px;
    position: absolute;
    width: calc(100% - 2px);
    z-index: 1;
  }

  .content-box {
    color: $white;
    cursor: pointer;
    height: 500px;
    padding: 0 20px;
    position: absolute;
    width: calc(100% - 2px);
    z-index: 4;

    &:hover {
      ~ .color-box {
        display: block;
      }

      ~ .rotate-hyphen {
        display: block;
      }

      .text-box {
        display: block;
      }
    }

    .text-box {
      display: none;
      font-family: $font-family4;
      font-size: $font-size-s;
      letter-spacing: $text-letter-spacing;
      padding: 0 20px;
      text-align: center;
    }
  }

  .box-hyphen {
    margin: 250px 0 0;
    position: absolute;
    z-index: 2;
  }

  .rotate-hyphen {
    transition: transform 0.2s ease-in;
    position: absolute;
    z-index: 3;
  }

  &:hover {
    .rotate-hyphen {
      transform: translate3d(-10px, -10px, 0) rotate(90deg);
    }
  }
}
