server {
  listen    80;
  {% if docker_ipv6 %}
      listen   [::]:80;
  {% endif %}
  {% if docker_https %}
      listen   443 ssl http2;
          {% if docker_ipv6 %}
              listen   [::]:443 ssl http2;
          {% endif %}
      ssl_certificate     /etc/letsencrypt/live/{{public_hostname_}}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{{public_hostname_}}/privkey.pem;
  {% endif %}

  # This is the server name, if you're running multiple servers
  server_name {{public_hostname_}};

  {% if disallow_robots %}
      location /robots.txt {
          return 200 "User-agent: *\nDisallow: /";
      }
  {% endif %}

  location /.well-known {
      #This is for domain verification
      alias /var/www/html/.well-known;
  }

  location /socket {
      proxy_pass http://assembl{{ assembl_index }}:8090/socket;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
  }

  location /static {
      #Do NOT put something like "expires modified +1h;" here, it WILL cause problems when deploying a new version.
      #Nor will it help your performance after the first hour...
      autoindex off;

      alias /opt/assembl_static/static;
  }

  location /static2 {
      #Do NOT put something like "expires modified +1h;" here, it WILL cause problems when deploying a new version.
      #Nor will it help your performance after the first hour...
      autoindex off;

      alias /opt/assembl_static/static2;
  }

  location / {

      include uwsgi_params;
      uwsgi_read_timeout 5m;
      uwsgi_pass uwsgi://assembl{{ assembl_index }}:{{ 9000 + assembl_index }};
  }

  # So files uploaded to the database are not artificailly limited by nginx
  client_max_body_size 500M;

  # Save some bandwidth
  gzip on;
  gzip_http_version 1.1;
  gzip_vary on;
  gzip_comp_level 6;
  gzip_proxied any;
  #text/html is implicit
  gzip_types text/plain text/css application/json application/ld+json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript text/x-js image/svg+xml font/truetype font/opentype application/vnd.ms-fontobject;
}
